# -*- sh -*-
# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# ocaml object files
*.cm*
*.annot

*.a
*.so
*.o

# binaries
*.opt
*.byte 

# profilers files
*.gprof
*.mshark

# docs, but some are valid ...
*.pdf
*.ps

# Makefile, auto generated stuff
Makefile.config
.depend
commons/features.ml
globals/config.ml

config.log
config.make
config.status

/test.ml

#vcs
_darcs
.svn

Fig_graph_ml.pdf

# data
/TAGS
/DB_LIGHT
/nohup.out
/data/php_stdlib.defs_marshalled

# specific binaries
/pfff
/pfff_db
/pfff_db_light
/pfff_browser
/pfff_visual
/pfff_tags
/pfff_db_light
/pfff_misc
/ppp
/sgrep
/spatch
/scheck


/meta/ffi
/meta/gen_code


# ocaml code using OCamlMakefile
._d/
._ncdi/
._bcdi/

#pad stuff
tmp
TODO
TODO-progs
_backup
_oldcstuff
_todo
_orig
_old
_logs
_old_todo

gen-ocaml/
gen-php/

#not imported everything
external/ocamlR
external/ocamlsqlite
external/ocamlmpi2
external/ocamlmpi1
external/ocamlirc
external/ocamlthrift-old
external/ocamlimages
external/ocamlpxp
external/ocamlthrift
external/ocamlllvm
/external/ocamlhtree/htree
ocamltarzan

external/ocamlgtk

/external/ocamlgraph/META
/external/ocamlgraph/src/dot_lexer.ml
/external/ocamlgraph/src/dot_parser.ml
/external/ocamlgraph/src/dot_parser.mli
/external/ocamlgraph/src/dot_parser.output
/external/ocamlgraph/src/gml.ml
/external/ocamlgraph/src/version.ml

/external/ocamlcairo/config.make
/external/ocamlcairo/config.status
/external/ocamlcairo/autom4te.cache/output.2
/external/ocamlcairo/autom4te.cache/output.3
/external/ocamlcairo/autom4te.cache/traces.2
/external/ocamlcairo/autom4te.cache/traces.3
/external/ocamlancient/mmalloc/config.status

/external/ocamlancient/META
/external/ocamlancient/mmalloc/Makefile

#magit interactively added with 'i' 
/score.org

/lang_php/parsing/lexer_php.ml
/lang_php/parsing/parser_php.ml
/lang_php/parsing/parser_php.mli
/lang_php/parsing/parser_php.output
/lang_js/parsing/lexer_js.ml
/lang_js/parsing/parser_js.ml
/lang_js/parsing/parser_js.mli
/lang_js/parsing/parser_js.output
/lang_sql/parsing/parser_sql.ml
/lang_sql/parsing/parser_sql.mli
/lang_sql/parsing/parser_sql.output
/lang_sql/parsing/lexer_sql.ml
/lang_ml/parsing/lexer_ml.ml
/lang_ml/parsing/parser_ml.ml
/lang_ml/parsing/parser_ml.mli
/lang_ml/parsing/parser_ml.output
/lang_cpp/parsing/lexer_cpp.ml
/lang_cpp/parsing/parser_cpp.ml
/lang_cpp/parsing/parser_cpp.mli
/lang_cpp/parsing/parser_cpp.output

/h_program-lang/archi_code_lexer.ml

external/ocamltarzan/lib-sexp/lexer.ml
external/ocamltarzan/lib-sexp/parser.ml
external/ocamltarzan/lib-sexp/parser.mli
external/ocamltarzan/lib-sexp/parser.output

external/ocamlbdb/bdb.ml
external/ocamlbdb/bdb_stubs.c
external/ocamlbdb/libcamlbdb.a

/docs/Hackathon--2009_11--Files--closures_php.ppt
/docs/ocaml/Makefile.template
/docs/ocaml/OCaml.out

/lang_php/parsing/show_function_calls1
/lang_php/parsing/show_function_calls2
/lang_php/parsing/show_function_calls3
/compile_php/phpcc
/h_program-visual/visual_pl
/h_program-visual/visual_pl1
/h_program-visual/visual_pl2
/h_program-visual/visual_pl3
/h_program-visual/visual_pl4
/h_program-visual/visual_pl5
/h_program-visual/visual_pl6
/h_version-control/vcs
/h_visualization/treemap_viewer
/demos/commons
/demos/parsing_php
/demos/send_mail_pattern.php
/h_visualization/Treemap.brf
/h_visualization/Treemap.out
/phpext/Makefile

/lang_php/parsing/template_visitor
/lang_php/parsing/readme.txt

/parsing-web/readme.txt

/h_program-analysis/Makefile
/h_program-analysis/test_program_analysis.ml
/h_program-analysis/test_program_analysis.mli

/h_visualization/dot.ml
/h_visualization/dot.mli

/meta/python/ast_php.py
/meta/python/examples/Python.asdl
/meta/python/examples/asdl.py
/meta/python/examples/ast.txt
/meta/python/examples/astgen.py
/meta/python/examples/spark.py

/lang_php/parsing/examples/dumpDependencyTree.php
/lang_php/parsing/examples/flib_test_queries.php
/lang_php/parsing/examples/foo1.php
/lang_php/parsing/examples/foo2.php
/lang_php/parsing/examples/show_function_calls1
/lang_php/parsing/examples/show_function_calls1.ml
/lang_php/parsing/examples/show_function_calls2
/lang_php/parsing/examples/show_function_calls2.ml
/lang_php/parsing/examples/show_function_calls3
/lang_php/parsing/examples/show_function_calls3.ml
/lang_php/parsing/Parsing_php.brf
/lang_php/parsing/Parsing_php.out

/TODO-tests/xhp_pb_but_ok/end_script.php
/TODO-tests/xhp_pb_but_ok/xhp_fbdocs.php

/docs/for_alok.txt

/place_home_fb

/external/ocamlcairo/test/basket.png
/external/ocamlcairo/test/basket.ppm
/external/ocamlcairo/test/kapow.png

/commons/lib-xml/xml_parser.output

/lang_nw/parsing/lexer_nw.ml
/lang_nw/parsing/parse_nw.mli
/lang_nw/parsing/parser_nw.output
/lang_nw/parsing/parser_nw.mli
/lang_nw/parsing/parser_nw.ml
/lang_java/parsing/lexer_java.ml
/lang_java/parsing/parser_java.ml
/lang_java/parsing/parser_java.mli
/lang_java/parsing/parser_java.output
/visual/Visual.out
/lang_php/analyze/database_php_storage.ml

/lang_lisp/parsing/lexer_lisp.ml
/lang_haskell/parsing/lexer_hs.ml
/pfff.top
/demos/simple_refactoring
/stags
/h_program-visual/visual
/codemap
/lang_python/parsing/lexer_python.ml
/lang_python/parsing/parser_python.ml
/lang_python/parsing/parser_python.mli
/lang_python/parsing/parser_python.output
/lang_csharp/parsing/lexer_csharp.ml
/lang_csharp/parsing/parser_csharp.ml
/lang_csharp/parsing/parser_csharp.mli
/lang_csharp/parsing/parser_csharp.output
/pfff_test
/ocamldoc.out
/pfff_db_heavy
/scheck_heavy
