# -*- sh -*-
# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# ocaml object files
*.cm*
*.annot

# c object files
*.a
*.so
*.o
*.exe

# java object files
*.class

# clang pfff parser
*.clang2
*.clang

# codegraph
pfff.log

# syncweb
.md5sum_*

# ocamldoc
*.out

# ocsigen
_client
_server
app.js

# binaries
*.opt
*.byte

# profilers files
*.gprof
*.mshark

# docs, but some are valid ...
*.pdf
*.ps

# Makefile, auto generated stuff
Makefile.config
.depend
commons/features.ml
globals/config.ml

config.log
config.make
config.status

/test.ml

#vcs
_darcs
.svn
.hg

Fig_graph_ml.pdf

# data
/TAGS
/DB_LIGHT
/nohup.out
/data/php_stdlib.defs_marshalled
*.marshall
*.matrix
*.opti
*facts.pl
*prolog_compiled_db

web/var/dbs

# specific binaries
/pfff
/pfff_db
/pfff_db_light
/pfff_misc
/ppp
/sgrep
/spatch
/scheck

/meta/ffi
/meta/gen_code

# ocaml code using OCamlMakefile
._d/
._ncdi/
._bcdi/

#pad stuff
tmp
TODO
TODO-progs
_backup
_oldcstuff
_todo
_orig
_old
_logs
_old_todo

gen-ocaml/
gen-php/

#not imported everything
external/ocamlgtk

/external/ocamlgraph/META
/external/ocamlgraph/src/dot_lexer.ml
/external/ocamlgraph/src/dot_parser.ml
/external/ocamlgraph/src/dot_parser.mli
/external/ocamlgraph/src/dot_parser.output
/external/ocamlgraph/src/gml.ml
/external/ocamlgraph/src/version.ml

/external/ocamlcairo/config.make
/external/ocamlcairo/config.status
/external/ocamlcairo/autom4te.cache/output.2
/external/ocamlcairo/autom4te.cache/output.3
/external/ocamlcairo/autom4te.cache/traces.2
/external/ocamlcairo/autom4te.cache/traces.3
/external/ocamlancient/mmalloc/config.status

#magit interactively added with 'i' 
/h_program-lang/archi_code_lexer.ml

/lang_php/parsing/lexer_php.ml
/lang_php/parsing/parser_php.ml
/lang_php/parsing/parser_php.mli
/lang_php/parsing/parser_php.output
/lang_js/parsing/lexer_js.ml
/lang_js/parsing/parser_js.ml
/lang_js/parsing/parser_js.mli
/lang_js/parsing/parser_js.output
/lang_sql/parsing/parser_sql.ml
/lang_sql/parsing/parser_sql.mli
/lang_sql/parsing/parser_sql.output
/lang_sql/parsing/lexer_sql.ml
/lang_ml/parsing/lexer_ml.ml
/lang_ml/parsing/parser_ml.ml
/lang_ml/parsing/parser_ml.mli
/lang_ml/parsing/parser_ml.output
/lang_cpp/parsing/lexer_cpp.ml
/lang_cpp/parsing/parser_cpp.ml
/lang_cpp/parsing/parser_cpp.mli
/lang_cpp/parsing/parser_cpp.output
/lang_nw/parsing/lexer_nw.ml
/lang_nw/parsing/parser_nw.output
/lang_nw/parsing/parser_nw.mli
/lang_nw/parsing/parser_nw.ml
/lang_java/parsing/lexer_java.ml
/lang_java/parsing/parser_java.ml
/lang_java/parsing/parser_java.mli
/lang_java/parsing/parser_java.output
/lang_lisp/parsing/lexer_lisp.ml
/lang_haskell/parsing/lexer_hs.ml
/lang_python/parsing/lexer_python.ml
/lang_python/parsing/parser_python.ml
/lang_python/parsing/parser_python.mli
/lang_python/parsing/parser_python.output
/lang_csharp/parsing/lexer_csharp.ml
/lang_csharp/parsing/parser_csharp.ml
/lang_csharp/parsing/parser_csharp.mli
/lang_csharp/parsing/parser_csharp.output
/lang_erlang/parsing/parse_erlang.ml
/lang_erlang/parsing/parse_erlang.mli
/lang_erlang/parsing/lexer_erlang.ml
/lang_erlang/parsing/parser_erlang.ml
/lang_erlang/parsing/parser_erlang.mli
/lang_erlang/parsing/parser_erlang.output
/lang_html/parsing/lexer_html.ml
/lang_html/parsing/parser_html.ml
/lang_html/parsing/parser_html.mli
/lang_html/parsing/parser_html.output
/lang_css/parsing/lexer_css.ml
/lang_css/parsing/parser_css.ml
/lang_css/parsing/parser_css.mli
/lang_css/parsing/parser_css.output
/lang_clang/parsing/lexer_clang.ml
/lang_clang/parsing/parser_clang.ml
/lang_clang/parsing/parser_clang.mli
/lang_clang/parsing/parser_clang.output


/lang_php/parsing/show_function_calls1
/lang_php/parsing/show_function_calls2
/lang_php/parsing/show_function_calls3
/h_version-control/vcs
/h_visualization/treemap_viewer

/docs/Hackathon--2009_11--Files--closures_php.ppt
/docs/ocaml/Makefile.template
/docs/ocaml/OCaml.out

/demos/commons
/demos/send_mail_pattern.php
/h_visualization/Treemap.brf
/h_visualization/Treemap.out

/lang_php/parsing/template_visitor
/lang_php/parsing/readme.txt

/parsing-web/readme.txt

/meta/python/ast_php.py
/meta/python/examples/Python.asdl
/meta/python/examples/asdl.py
/meta/python/examples/ast.txt
/meta/python/examples/astgen.py
/meta/python/examples/spark.py

/lang_php/parsing/examples/dumpDependencyTree.php
/lang_php/parsing/examples/flib_test_queries.php
/lang_php/parsing/examples/foo1.php
/lang_php/parsing/examples/foo2.php
/lang_php/parsing/examples/show_function_calls1
/lang_php/parsing/examples/show_function_calls1.ml
/lang_php/parsing/examples/show_function_calls2
/lang_php/parsing/examples/show_function_calls2.ml
/lang_php/parsing/examples/show_function_calls3
/lang_php/parsing/examples/show_function_calls3.ml
/lang_php/parsing/Parsing_php.brf
/lang_php/parsing/Parsing_php.out

/TODO-tests/xhp_pb_but_ok/end_script.php
/TODO-tests/xhp_pb_but_ok/xhp_fbdocs.php

/docs/for_alok.txt

/external/ocamlcairo/test/basket.png
/external/ocamlcairo/test/basket.ppm
/external/ocamlcairo/test/kapow.png

/commons/lib-xml/xml_parser.output

/visual/Visual.out
/lang_php/analyze/database_php_storage.ml

/pfff.top
/demos/simple_refactoring
/stags
/h_program-visual/visual
/codemap
/pfff_test
/ocamldoc.out
/pfff_db_heavy
/scheck_heavy
/demos/check_is_static_literal
/lang_php/meta/ffi
/lang_php/meta/gen_code
/DB_LIGHT.marshall
/lang_php/analyze/Analyze_php.out
/web/app_codemap.type.mli
/web/app_codemap_client.ml
/web/app_codemap_server.ml
/web/app_lxr_server.ml
/web/client
/web/client.js
/tests/cpp/a.out
/lang_cpp/parsing/ocamldoc.out
/pm_depend
/lang_php/pretty/prettyphp

/lang_opa/parsing/parser_opa.output
/lang_opa/parsing/lexer_opa.ml
/lang_opa/parsing/parser_opa.ml
/lang_opa/parsing/parser_opa.mli
/codegraph
/graph_code.marshall.matrix
/tests/c/codegraph/graph_code.marshall.matrix
/tests/java/codegraph/graph_code.marshall.matrix
/tests/data/codegraph/graph_code.marshall.matrix
/codequery
/external/javalib/src/jManifest.ml
/graph_code.marshall.opti


#TODO maybe reput some
TODO.txt
code_map/Visual.tex
code_map/thread_bug_ml
commons/Commons.aux
commons/Commons.log
commons/Commons.tex
commons/Commons.toc
docs/ocaml/.md5sum_foo.ml
docs/ocaml/OCaml.aux
docs/ocaml/OCaml.log
docs/ocaml/OCaml.tex
docs/ocaml/OCaml.toc
facebook/
h_program-lang/old/dm_ml
h_visualization/.md5sum_main_treemap.ml
h_visualization/.md5sum_treemap.ml
h_visualization/.md5sum_treemap.mli
h_visualization/.md5sum_treemap_graphics.ml
h_visualization/.md5sum_treemap_graphics.mli
h_visualization/.md5sum_treemap_json.ml
h_visualization/.md5sum_treemap_json.mli
h_visualization/Treemap.tex
lang_php/analyze/Analyze_php.tex
lang_php/parsing/Parsing_php.tex
pfff.json
tests/java/codegraph/Bar.java
tests/java/codegraph/TAGS
tests/ml/cmt/graph_code.marshall.opti
web/all_exn.patch
web/json_server_ml
web/old/Makefile.old
web/old/app_codemap.eliom
web/old/codemap_client.ml
web/var/logs/access.log
web/var/logs/errors.log
web/var/logs/warnings.log
/demos/find_methods_return_this
/globals/config_pfff.ml
/facts_pl
/web/scripts/stat_web
/demos/php_transducer.byte
/demos/show_function_calls1.byte
/demos/show_function_calls2.byte
/demos/show_function_calls3.byte
/demos/show_function_class_names.byte
/demos/show_function_class_names2.byte
/data/php_stdlib/idl
/data/php_stdlib/system
/demos/pfff_linking
/demos/pfff_linking
/tests/php/codegraph/pfff_test.log
